.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 450px;
    
}
.card_cv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 450px;
    
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}
.btn-link
{
    color:white;
    font-family: sans-serif;
    border-radius: 2px;
    background-color: #08f;
    border-color: whitesmoke;
    height:30px;
}
.btn-link:hover
{
    color:white;
    font-family: sans-serif;
    border-radius: 2px;
    background-color: #FF8C00;
    border-color: black;
}

.navbar {
    overflow: hidden;
    color:black;
    background-color: #fff; /*lightgray*/
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
     
}

/* Links inside the navbar */
.navbar a {
    
    padding: 10px 24px;
    font-family: sans-serif;
    float: left;
    color: white;
    background-color: #08c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 4px;
     
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #08f;
    color: white;
    font-size: 17px;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    color: transparent;
}
.topnav-right {

 float: right;
    color: #f2f2f2;
    font-size: 18px;
    text-align: middle;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
   vertical-align: -5px;
}

.material-icons {
  vertical-align: middle;
  margin-right: 1px;
padding-bottom: 6px;
    
}
.search-box{
    padding: 26px 16px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 14px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.nav-btn{
    padding: 10px 24px;
    background-color: #08c;
    color: white;
    border: 2px solid white; 
    border-radius: 5px;
    font-weight: 900;
    width: 90;
   
}
.nav-btn:hover{
    padding: 10px 24px;
     background: #08f;
    color: white;
    border: 2px solid white; 
    
}
.colform{
    float:left;
    
}
